body {
  cursor: none;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

p {
  line-height: 1.5em;
  margin: 0.2em;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

a {
  cursor: none;
  display: inline-block;
  text-decoration: none;
  transform: translate(var(--translateX), var(--translateY)) scale(var(--scale));
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-property: opacity;
  z-index: 1;
  --scale: 1;
  --translateX: 0;
  --translateY: 0;
}
a:not(:hover) {
  transition-property: transform, opacity;
}
a:active {
  opacity: 0.5;
  transform: translate(var(--translateX), var(--translateY)) scale(1);
}

.cursor {
  height: var(--height);
  left: var(--left);
  pointer-events: none;
  top: var(--top);
  transform: translate(-50%, -50%) scale(var(--scale));
  transition-property: width, height;
  width: var(--width);
  --top: -1em;
  --left: -1em;
  --width: 1em;
  --height: 1em;
  --scale: 1;
  --translateX: 0;
  --translateY: 0;
}
.cursor.is-locked {
  transition-property: width, height, left, top;
}
.cursor.is-locked .cursor__content {
  opacity: 0.06;
}
.cursor, .cursor__content {
  position: absolute;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}
.cursor__content {
  background-color: #000;
  border-radius: 0.6em;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  right: 0;
  top: 0;
  transform: translate(var(--translateX), var(--translateY));
  transition-property: "opacity";
}
