<footer class="page-footer mt-5">
  <div class="container-fluid child" id="footer">

    <div class="row">

      <div class="col-lg-12" style="text-align: center;">
        <hr style="width: 95%; display: inline-block; margin-left: auto; margin-right: auto;"> 
      </div>
        
        <div class="col-lg-1"></div>

        <div class="col-lg-5 mb-1">
          <div class="mt-3" style="font-weight: 300; font-size: 28px;">“You mustn’t be afraid to dream a little bigger, darling.”</div>
          <p class="mt-2 mb-5" style="font-weight: 300; font-size: 18px;">~ Eames (Played by Tom Hardy), Inception (2010)</p>
        </div>

        <div class="col-lg-5 text-right mb-1 mt-3">

            <div style="display: flex; justify-content: flex-end;">
            <a class="link me-2" href="http://behance.net/rrc08/" target="_blank"><img class="footer-link" id="behance" src="css/elements/social/Behance.svg"></a>
            <a class="link me-2" href="http://linkedin.com/in/rrcn08/" target="_blank"><img class="footer-link" id="linkedin" src="css/elements/social/LinkedIn.svg"></a>
            </div>
          <div style="display: flex; justify-content: flex-end;" class="footer-copyright mt-3"><p style="font-size: 0.8rem; text-align: right;">Searching for this template? Too bad I made it from scratch.<br>But you can grab the source code from <a class="link" href="https://github.com/RRCN08/Portfolio" target="_blank">GitHub</a> :)</p> </div>
            

        </div>

        <div class="col-lg-1"></div>

    </div>
</footer>
