<nav class="navbar navbar-expand-md navbar-dark smart-scroll navbar-fixed-top navbar-index">
    <div class="container-fluid">
        <a class="navbar-brand abs" href="#"><img id="Signature" src="css/elements/signature.svg" height=40px></a>
          <label class="switch ms-3">
            <i class="fas fa-adjust" style="margin-right: 5px;"></i>
            <div>
              <input type="checkbox" id="checkBox"  />
              <span class="slider round"></span>
            </div>
          </label>

        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapseNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href=#Projects>PROJECTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/resume">RESUME</a>
                </li>
            </ul>
        </div>
    </div>
</nav>